extends layout

block content
  span.description.ui-widget-content.ui-corner-all
    p
      | Discovering what you're allergic to can be a tedious process. This interface is meant to help <br />
      | make that process a little easier. For either tab, start typing to select an item from the <br />
      | drop-down list.
    p 
      | The Products tab will show you what ingredients your selected products have in common.
    p
      | The Ingredients tab will show you which products contain your selected ingredients.

  div#tabs
    ul
      li: a(href='#tabs-1') Products
      li: a(href='#tabs-2') Ingredients
    div#tabs-1
      input#products
      button#add-product Add
      table#products: tbody
    div#tabs-2
      input#ingredients
      button#add-ingredient Add
      table#ingredients: tbody

  table#common-ingredients
    tbody
      tr
        th Ingredients in common
  table#common-products
    tbody
      tr
        th Products in common

  script(type='text/javascript', src='/javascripts/jquery-1.8.0.min.js')
  script(type='text/javascript', src='/javascripts/jquery-ui-1.8.23.custom.min.js')
  script(type='text/javascript', src='/javascripts/underscore-min.js')
  script(type='text/javascript', src='/javascripts/main.js')
  script
    renderTabs();

    var products = !{settings.products};
    var ingredients = !{settings.ingredients};
    var productIngredients = !{settings.productIngredients};
    var ingredientProducts = !{settings.ingredientProducts};
  


