extends layout

block content
  script
    $(function() {
      $("#tabs").tabs({
        show: function(event, ui) {
          switch(ui.panel.id) {
            case "tabs-1":
              $("input#products").focus();
              break;
            case "tabs-2":
              $("input#ingredients").focus();
              break;
          }
        }
      });

      // Products.
      var products = !{settings.products};
      $("input#products").autocomplete({
        source: products
      });
      $("button#add-product").button();
      $("button#add-product").click(function() {
        var $productsInput = $("input#products");
        var productToAdd = $productsInput.val();
        $('table#products > tbody:last').append('<tr><td class="product">'+productToAdd+'</td><td class="remove"><button class="remove">Remove</button></td></tr>');
        $("button.remove").button();
        $productsInput.val('').focus();
      });

      // Ingredients.
      var ingredients = !{settings.ingredients};
      $("input#ingredients").autocomplete({
        source: ingredients
      });
      $("button#add-ingredient").button();
      $("button#add-ingredient").click(function() {
        var $ingredientsInput = $("input#ingredients");
        var ingredientToAdd = $ingredientsInput.val();
        $('table#ingredients > tbody:last').append('<tr><td class="ingredient">'+ingredientToAdd+'</td><td class="remove"><button class="remove">Remove</button></td></tr>');
        $("button.remove").button();
        $ingredientsInput.val('').focus();
      });

      $("table").delegate("button.remove", "click", function() {
        var tableId = $(this).closest('table').attr('id');

        var $thisRow = $(this).parent().parent();
        $thisRow.remove();

        if (tableId === "products") {
          $("input#products").focus();
        } else if (tableId === "ingredients") {
          $("input#ingredients").focus();
        }
      });
    });
  
  div#tabs
    ul
      li: a(href='#tabs-1') Products
      li: a(href='#tabs-2') Ingredients
    div#tabs-1
      input#products
      button#add-product Add
      table#products: tbody
    div#tabs-2
      input#ingredients
      button#add-ingredient Add
      table#ingredients: tbody