doctype 5
html
  head
    title= settings.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cupertino/jquery-ui-1.8.23.custom.css')
  body
    block content