
table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  /*border: 1px solid black;*/
}

td {
  white-space: nowrap;
  overflow: hidden;
}

td.product,
td.ingredient {
  width: 75%;
}

td.remove {
  width: 19%;
}

div#tabs {
  width: 45%;
  float: left;
}

input#products,
input#ingredients {
  width: 84%;
  height: 31px;
  margin-right: 5px;
}

table#products,
table#ingredients {
  width: 583px;
  margin-top: 18px;
}

div#common-ingredients,
div#common-products {
  float: left;
  width: 50%;
  height: 400px;
  border: 1px solid black;
  display: none;
}

div#common-products {
  display: none;
}