
table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  white-space: nowrap;
  overflow-x: auto;
}

td.remove {
  overflow: visible;
}

td.products,
td.ingredients {
  /*width: 75%;*/
}

td.remove {
  width: 21.7%;
}

div#tabs {
  width: 50%;
  float: left;
}

input#products,
input#ingredients {
  width: 77%;
  height: 31px;
  margin-right: 5px;
}

table#products,
table#ingredients {
  width: 100%;
  margin-top: 18px;
}

table#common-ingredients,
table#common-products {
  float: left;
  width: 40%;
  border: 1px solid black;
  margin-left: 29px;
  margin-bottom: 15px;
  display: none;
}

table#common-ingredients tr,
table#common-products tr {
  border: 1px solid black;
}

button.remove .ui-button-text {
  color: red;
}