
body {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  white-space: nowrap;
  overflow-x: auto;
}

td.remove {
  overflow: visible;
}

td.remove {
  width: 21.7%;
}

div#tabs {
  width: 50%;
  float: left;
}

input#products,
input#ingredients {
  width: 77%;
  height: 31px;
  margin-right: 5px;
}

table#products,
table#ingredients {
  width: 100%;
  margin-top: 18px;
}

table#common-ingredients,
table#common-products {
  float: left;
  width: 40%;
  border: 1px solid #DDD;
  margin-left: 29px;
  margin-bottom: 15px;
  background-color: #F2F5F7;
  display: none;
}

table#common-ingredients tr,
table#common-products tr {
  border: 1px solid #DDD;
}

table#common-ingredients th,
table#common-products th {
  font-size: 1.1em;
  color: #2779B5;
  border: 1px solid #DDD;
}

table#common-ingredients td,
table#common-products td {
  padding: 5px;
}

button.remove .ui-button-text {
  color: red;
}
